<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>tiendita</ion-title>
    <ion-buttons slot="end">
      <ion-icon class="color-search" name="search-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <!-- <ion-slides  [options]="slideOpts">
    <ion-slide *ngFor="let cate of categorias">
      <ion-card>
        <img [src]="cate.foto" alt="">
        <ion-card-content>
          <ion-text>
            {{cate.nombreCate}}
          </ion-text>
        </ion-card-content>
      </ion-card> 
    </ion-slide>
  </ion-slides> -->


  <ion-slides  [options]="slideCateOpts">
    <ion-slide class="categorias-slide" *ngFor="let personaje of personajes">
      <ion-card [routerLink]="['/categorias', personaje.id]">
        <img [src]="personaje.image" alt="">
        <ion-card-content>
          <ion-text>
            {{personaje.name}}
          </ion-text>
        </ion-card-content>
      </ion-card> 
    </ion-slide>
  </ion-slides>

  <ion-text class="ion-text-color">
    Ion text
  </ion-text>

  <p class="parrafo-color">
    Parrafo
  </p>

  <!-- <ion-button (click)="obtenerInfo()" expand="block">
    Mostrar modal
  </ion-button> -->

</ion-content>
