<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar class="bg-app">
    <ion-buttons slot="end">
      <ion-icon class="color-search" name="search-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="bg-app ion-padding">

  <!-- <ion-slides>
    <ion-slide>
      <img class="img-slide__principal" src="../../../assets/img/card-populares.jpg" alt="">
    </ion-slide>
    <ion-slide>
      <img class="img-slide__principal" src="../../../assets/img/card-populares.jpg" alt="">
    </ion-slide>
    <ion-slide>
      <img class="img-slide__principal" src="../../../assets/img/card-populares.jpg" alt="">
    </ion-slide>
    <ion-slide>
      <img class="img-slide__principal" src="../../../assets/img/card-populares.jpg" alt="">
    </ion-slide>
  </ion-slides> -->

  <ion-text class="encabezado" color="primary">
    Categorias
  </ion-text>

  <ion-slides [options]="slideOpts">

    <ion-slide *ngFor="let categoria of categorias" class="slide">
      <img class="img-categoria" [src]="categoria.foto" alt="">
      <ion-text class="text-pizza">
        {{categoria.nombreCate}}
      </ion-text>
    </ion-slide>

  </ion-slides>
  <br>
  <ion-text class="encabezado" color="primary">
    Listado de recetas
  </ion-text>

  <div *ngFor="let item of fakeArray">
    <img class="img-receta-listado" src="https://images.unsplash.com/photo-1447078806655-40579c2520d6?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTV8fGZvb2R8ZW58MHwwfDB8&auto=format&fit=crop&w=500&q=60" alt="">
    <ion-text class="nombre-receta-listado" color="primary">
      Marsal Marinated Skirt Steak
    </ion-text>
    <br>
    <ion-text class="desciption-receta-listado ion-text-wrap color-gris" color="medium">
      Skirt steak is always great on the grill and doesnt need much
    </ion-text>

    <ion-grid>
      <ion-row>
        <ion-col size="3" class="column-icons-receta-listado">
          <ion-icon class="icons-receta-listado" color="warning" name="alarm-outline"></ion-icon>
          <ion-text class="texto-icons-receta-listado" color="primary">
            45 min
          </ion-text>
        </ion-col>
        <ion-col size="3" class="column-icons-receta-listado">
          <ion-icon class="icons-receta-listado" color="warning" name="flame-outline"></ion-icon>
          <ion-text class="texto-icons-receta-listado" color="primary">
            Medium
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  
  <br>

  <div *ngFor="let producto of fakeArrayCategorias">
    <div *ngFor="let category of fakeArrayCategoriasSecu">
      <ion-card class="childCard ion-no-margin ion-padding-top">
        <ion-row class="CardrowSection ion-margin-bottom">
          <div class="cardCol ion-no-padding" mdWavesEffect size="6"
            *ngFor="let child of fakeArrayCategoriasTerc">
            <ion-card class="childCardSection">
              <img class="child" src="https://images.unsplash.com/photo-1482049016688-2d3e1b311543?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8Zm9vZHxlbnwwfDF8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
              <ion-card-content class="ion-no-padding">
                <span class="under"> Tia rosa</span>
                <ion-row class="bottom-text ion-text-center green center-xs">
                  <span class="h-off"> 20 %off</span>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </div>
        </ion-row>
      </ion-card>
    </div>
  </div>

  <br>

  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col class="img-col" size="4">
          <img src="https://images.unsplash.com/photo-1482049016688-2d3e1b311543?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8Zm9vZHxlbnwwfDF8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
        </ion-col>
        <ion-col size="8">
          <ion-row>
            <ion-col size="12">
              <p>Description del producto</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">$350</ion-col>
            <ion-col size="6">Añadir</ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <br>

  <div *ngFor="let producto of fakeArrayCategorias">
    <div *ngFor="let category of fakeArrayCategoriasSecu">
      <ion-list *ngFor="let child of fakeArrayCategoriasTerc">
        <ion-item>
          <div class="list-img-container">
            <img class="list-img" src="https://images.unsplash.com/photo-1482049016688-2d3e1b311543?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8Zm9vZHxlbnwwfDF8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60">
          </div>
          <ion-label>
            <h2>Tia rosa</h2>
            <h3>Descuento: 20%</h3>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>

 
</ion-content>
